* {         
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: whitesmoke;
}

/* header begins */

.header {       
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightseagreen;
    color: white;
}

.header h1 {
    display: inline-block;
    font-size: 40px;
}

.header h2 {
    display: inline-block;
    font-size: 30px;
}

.header p {
    display: inline-block;
    font-size: 20px;
}

.img1 {
    position:relative;
    height: 375px;
    border: solid 2px;
    border-radius: 1%;
}

.img2 {
    position:relative;
    height: 375px;
    border: solid 2px;
    border-radius: 1%;
}

.img3 {
    position:relative;
    height: 375px;
    border: solid 2px;
    border-radius: 1%;
}


/* nav begins */
.nav__link {
    list-style: none;
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: lightseagreen;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    background-color: blueviolet;
    color: black;
}

.nav__links li a:active {
    color: blue;
}

/* this is me begins */

.this-is-me {
    width: 75%;
    display: inline-block;
    background-color: lightseagreen;
}

.this-is-me__body {
    width: 75%;
    display: inline-block;
    background-color: lightseagreen;
}

/* this is me ends */


.row{
    display: flex;
}

.card1 { 
    background-color: lightseagreen;
    height: 200px;
    flex-wrap: wrap;
    background-size: cover;
}
 
.card2 {
    background-color: lightseagreen;
    height: 200px;
    flex-wrap: wrap;
    background-size: cover;
}

/* contact info starts */

.contact-info li {
    display: inline-block;
    padding: 0px 20px;
}

.conact-info li a {
    transition: all 0.3s ease 0s;
}

.conact-info li a:hover {
    background-color: blueviolet;
    color: black;
}

.conact-info li a:active {
    color: blue;
}

/*contact info ends */
/* footer section begins */

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Lucida Sans Unicode', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

/* footer section ends */